.navbar-logo {
    position: relative;
    width: 105px;
    height: 40px;
    font-size: 30px;
    justify-content: center;
}

.navbar-logo2 {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
}